<!DOCTYPE html>
<html>
<head>
<title>Page Title</title>
<link rel="stylesheet" href="/css/style.css"> 
<link rel="icon" href="/imgs/weather.png"> 
</head>
<body>
   <div class="main-content">
         
        <h1>  {{title}} {{ errorMessage }} </h1>  
    </div>
   
   

</body>
</html>