<!DOCTYPE html>
<html>
<head>
<title>Weather</title>
<link rel="stylesheet" href="/css/style.css"> 
<link rel="icon" href="/imgs/weather.png"> 
</head>
<body>
      <div class="main-content">
         {{>header}}
         <p> Use this site to get your weather !</p>
            
            <img class = "portrait" src="./imgs/sample.jpg"></img>

        
    </div>
    
     {{>footer}}
 
</body>
</html>